@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Titan+One&display=swap');

:root{
    --primary-color: #342E37;
    --secondary-color: #3C91E6;
    --accent1-color: #9ccf26;
    --accent2-color: #FAFFFD;

    --heading-font: 'Titan One', serif;
    --paragraph-font: 'Exo 2',  serif;

    --nav-background-color: #342e37;
    --nav-link-color: #FAFFFD;
    --nav-hover-link-color: #FAFFFD;
    --nav-hover-background-color: #3c91e6;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

a:link{
    text-decoration: none;
}

body {
    font-family: var(--paragraph-font);
    width: 900px;
    margin: 0 auto;
} 
.hero {
    position: relative;
    border: 5px solid black;
}
.hero img{
    max-width: 100%;
}
h1 {
    position: absolute;
    top: 0;
}
article {
    position: absolute;
    top: 200px;
    width: 95%;
    background-color:#3C91E6;
    left: 0;
    right: 0;
    margin: 0 auto
       
}
.hero article img{
    width: 200px;
    float: right;

}

websitlinks {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex; 
}






















