@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Titan+One&display=swap');

:root{
    --primary-color: #342E37;
    --secondary-color: #3C91E6;
    --accent1-color: #9ccf26;
    --accent2-color: #FAFFFD;

    --heading-font: 'Titan One', serif;
    --paragraph-font: 'Exo 2',  serif;

    --nav-background-color: #342e37;
    --nav-link-color: #FAFFFD;
    --nav-hover-link-color: #FAFFFD;
    --nav-hover-background-color: #3c91e6;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

a:link{
    text-decoration: none;
}

body {
    font-family: var(--paragraph-font);
} 
div {
    position: relative
}
div h1 {
    position: absolute;
    bottom: 750px;
    top: auto;
    left: 700px;
}
article {
    bottom:300px;
    position: absolute;
    left: 1350px
}


websitlinks {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex; 
}






















