@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Titan+One&display=swap');

:root{
    --primary-color: #342E37;
    --secondary-color: #3C91E6;
    --accent1-color: #9ccf26;
    --accent2-color: #FAFFFD;

    --heading-font: 'Titan One', serif;
    --paragraph-font: 'Exo 2',  serif;

    --nav-background-color: #342e37;
    --nav-link-color: #FAFFFD;
    --nav-hover-link-color: #FAFFFD;
    --nav-hover-background-color: #3c91e6;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px
}

nav  {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
}

nav a {
    display:block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color)
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color)
}
